<% provide(:title, 'Blog') %>
	<div class="blog-page main grid-wrap">

<header class="grid col-full">
	<hr>
	<p class="fleft">Blog</p>
</header>

		
<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
			
	<article class="post">
		<h2><a href="innovation.html" class="post-title">Innovation: our value-added brand</a></h2>
		<div class="meta">
			<p>Posted on <span class="time">February 01, 2012</span> by <a href="#" class="fn">TangereT</a> in <a href="innovation.html"class="cat">About TangereT</a><a href="#" class="comments-link"></a></p>
		</div>
		<div class="entry">
			<p>The innovation and its relationship with the economic and social, has been the base of a lot of productivity profits that our economies have experienced historically, therefore in TangereT we focused all our efforts in adopting existing technologies or adding incremental improvements to the existing ones, this way we provide a wide variaty of activities in: products innovation, process innovations, organisational innovations and marketing innovations.</p>
			<p>These are our belives, we go over them all the time in order to keep them alive in our culture.</p>
		</div>
		<footer>
			<a href="innovation.html" class="more-link">Continue reading…</a>
		</footer>
	</article>
	
	<article class="post">
		<h2><a href="working.html" class="post-title">How do we work in TangereT?</a></h2>
		<div class="meta">
			<p>Posted on <span class="time">June 02, 2012</span> by <a href="#" class="fn">TangereT</a> in <a href="working.html"class="cat">About TangereT</a><a href="#" class="comments-link"></a></p>
		</div>
		<div class="entry">
			<p> You will start seeing how your product evolves and improves its features prioritize by your business needs. We systematize the discovery and learning, in order to continuosly improve the business strategy satisfying your real need.</p>
			<p>Our work is driven by business needs and goals, your strategy is our aim in our products and services. We are your alliad to help you growth.</p>
		</div>
		<footer>
			<a href="working.html" class="more-link">Continue reading…</a>
		</footer>
	</article>
	
	<article class="post">
		<h2><a href="blogpost1.html" class="post-title">Mobile-friendly websites</a></h2>
		<div class="meta">
			<p>Posted on <span class="time">Octuber 02, 2012</span> by <a href="#" class="fn">Nicol Pinilla</a> in <a href="#"class="cat">Web</a><a href="#" class="comments-link"></a></p>
		</div>
		<div class="entry">
			<p>Consumers are using mobile devices more regularly to purchase goods and make decisions. Thus, to remain competitive in business – it is becoming more important to go mobile. Businesses must go where the customers are in and begin utilizing mobile-friendly websites.</p>
		</div>
		<footer>
			<a href="blogpost1.html" class="more-link">Continue reading…</a>
		</footer>
	</article>
	
	<ul class="page-numbers">
		<li><a href="#" class="current">1</a></li>
	</ul>

</section>

<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full blog-sidebar">
		
	<div class="widget">
		<%= image_tag("blog.png", alt:"blog") %>
	</div>
	
	<div class="widget">
	<p><strong><h5>TangereT is a global creative studio, committed to designing extraordinary creative experiences that inspire consumers through technology, design and innovation</h5></strong></p>
	</div>
	
	<div class="widget">
	<h2>Recent Posts</h2>
	<ul>
		<li><a href="blogpost1.html" title="">Mobile-friendly websites</a></li>
		<li><a href="working.html" title="">How do we work in TangereT?</a></li>
		<li><a href="innovation.html" title="">Innovation: our value-added brand</a></li>
		<li><a href="#" title="">Coming soon</a></li>
	</ul>
	</div>
	
	<div class="widget">
	<h2>Categories</h2>
	<ul>
	 	<li><a href="http://">About TangereT (2)</a></li>
		<li><a href="http://">Web (1)</a></li>
		<li><a href="http://">Design (0)</a></li>
		<li><a href="http://">Weird (0)</a></li>
	</ul>
	</div>

	<div class="widget">
	<h2>TangereT</h2>
	<%= image_tag("team.jpg", alt:"team") %>
	</div>
</aside>

</div> <!--main-->
