<% provide(:title, 'About') %>
<div class="blogpost-page main grid-wrap">

	<header class="grid col-full">
		<hr>
		<p class="fleft">Blog post</p>
	</header>
	
			
	<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
		
			<article class="post post-single">
				<h2><a href="#" class="post-title">Mobile-friendly websites</a></h2>
				<div class="meta">
					<p>Posted on <span class="time">Octuber 02, 2012</span> by <a href="#" class="fn">Nicol Pinilla</a> in <a href="#"class="cat">Web</a><a href="#" class="comments-link"></a></p>
				</div>
				<div class="entry">
					<p>Consumers are using mobile devices more regularly to purchase goods and make decisions. Thus, to remain competitive in business – it is becoming more important to go mobile. Businesses must go where the customers are in and begin utilizing mobile-friendly websites.</p>
					<p>In November 2011, 25 percent of all B2B customers surveyed by Compete and Google say that mobile web was the third most influential in their purchasing decision.  Leading the way was their online catalog and direct sales.</p>
					<p>If you’re walking to work or talking with friends and you want to find out about something, you bring up your phones browser and take a quick glance.  Making this initial look-in on your company a tailored experience could be the difference between a positive or negative reaction.</p>
					<p>The frustration of seeing a normal website on a phone is becoming more aggravating for users.  Having your website customized for mobile use not only makes you seem up-to-date on the latest technology trends, but it means that you’re thinking of how your customer might want to interact with your services.  Establishing that connection with your audience is essential to cultivating a possible customer.</p>
				</div>
				
			</article>
	</section>
		
	
	</section>

	<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full blog-sidebar">
			
		<div class="widget">
			<%= image_tag "blog.png", alt:"blog" %>
		</div>
		
		<div class="widget">
		<p><strong><h5>TangereT is a global creative studio, committed to designing extraordinary creative experiences that inspire consumers through technology, design and innovation</h5></strong></p>
		</div>
		
		<div class="widget">
		<h2>Recent Posts</h2>
		<ul>
			<li><%= link_to "Mobile-friendly websites", blogpost1_path %></li>
			<li><%= link_to "Innovation: our value-added brand", innovation_path %></li>
			<li><%= link_to "Coming soon", blogpost1_path %></li>
		</ul>
		</div>
		
		<div class="widget">
		<h2>Categories</h2>
		<ul>
		 	<li><a href="http://">About TangereT (2)</a></li>
			<li><a href="http://">Web (1)</a></li>
			<li><a href="http://">Design (0)</a></li>
			<li><a href="http://">Weird (0)</a></li>
		</ul>
		</div>
	
		<div class="widget">
		<h2>TangereT</h2>
		<img src="img/team.jpg" alt=""></img>
		</div>
	</aside>

	
</div> <!--main-->
