<% provide(:title, 'Innovation') %>
<div class="blogpost-page main grid-wrap">

		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
			
				<article class="post post-single">
					<h2><a href="#" class="post-title">Innovation: our value-added brand</a></h2>
					<figure class="">
						<%= image_tag "in1.jpg", alt:"ini1" %>
					</figure>
				</article>
				
				<article class="post post-single">	
					<p>La innovación y su relación con el desarrollo económico y social, ha sido la base de muchas de las ganancias de productividad que nuestras economías han experimentado históricamente, por esto en TangereT concentramos todos nuestros esfuerzos en adoptar tecnologías existentes o introduciendo mejoras incrementales en éstas, dando así apertura a un abanico más amplio de actividades en: product innovations, process innovations, organisational innovations and marketing innovations.</p>
					<p>Creemos que la innovación debe trabajarse como un sistema que abarca la estrategia, las personas, procesos definidos y la cultura corporativa. La innovación en <strong>TangereT&copy </strong> es una actividad práctica, interactiva e inmersiva.</p>
					<p>Éstas son nuestras creencias, continuamente las revisamos con tal de que ninguna se salga de nuestro foco con el paso de los días.</p>
					<div class="entry">
						
						<ul class="toggle-view">
							<li>
								<h5 class="toggle-title">1. All ideas can be transformed into a great product<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in7.jpg" alt=""></img>
									<p>Creemos que una idea simple lleva a una gran solución que suple una necesidad, por esto, nunca descartamos ninguna idea sino que las vamos mejorando en función de las necesidades de un entorno.</p>
									<p>Tenemos siempre los ojos abiertos a la serendipia, consideramos que el fracaso puede ser parte del camino hacia el éxito, generamos y administramos las ideas para luego traducirlas a prototipos, porque como dice <a href="http://sethgodin.typepad.com/" target="_blank">Seth Godin</a> "Toda gran idea es una pequeña idea que nadie mató prematuramente"</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">2. Innovation management<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in6.jpg" alt=""></img>
									<p>Creemos que el proceso de innovación es sistémico, por eso todas las actividades las consideramos de manera simultánea con una retroalimentación continua por parte del mercado, al mismo tiempo, hemos establecido una serie de mecanismos de aprendizaje para redefinir este proceso de acuerdo con nuestras estrategias de negocio, así como los factores de cambio de éste, las tendencias del mercado, los cambios tecnológicos y las estrategias de los competidores.</p>
									<p>Esto nos exige una planificación de las tareas, una estructura organizativa y una comunicación fluida que nos va permitiendo alcanzar la capacidad de lanzar nuevos productos y servicios de éxito. Todo esto es más fácil por nuestro equipo de trabajo que siempre está abierto a nuevas ideas!</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">3. Iterative improvement of product<span class="toggle-title-detail"></span></h5>
								<div class="toggle">
									<img align="left" src="img/in8.png" alt=""></img>
									<p>We believe “Fast failure” in ideation and experimentation is considered a positive event, as it eliminates possible solutions from contention.</p>
									<p>Understand, observe, visualize and iterate is our key. Rather than planning incessantly, we work to quickly come up with something, we show it to smart people, we show it to users, and then we do it again and again.</p>
									<p>Creemos en que el pensamiento lúdico basado en la construcción permite crear con las manos, y así creamos prototipos, logrando de esta forma dar vida a ideas muy complejas, para que sean realizables más fácilmente; los prototipos simples nos permiten hablar de forma más clara, podemos mostrar nuestras ideas y probarlas con los consumidores y usuarios mucho más rápido.</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">4. Growth industry through technology<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in5.jpg" alt=""></img>
									<p>We believe on the development of new marketing practices, such as targeting new markets or market segments and developing new ways of promoting products, because new marketing practices play a central role in firms’ performance. Marketing practices are also important for the success of new products, and market research and contacts with  customers can play a crucial role in product and process development through demand-led innovation.</p>
									<p>The inclusion of organisational and marketing innovation also allows for more extensive analysis of the interactions between different types of innovations, in particular the importance of implementing organisational changes in order to benefit from other types of innovations.</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">5. Alignment with the strategic objectives of customer<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in4.jpg" alt=""></img>
									<p>Creemos que cuando observamos y aprendemos de nuestros clientes podemos ofrecerles mejores resultados. Entre el cliente y nuestro equipo definimos la oportunidad estratégica, observamos tendencias, recopilamos las necesidades y generamos ideas creativas, generamos un prototipo y lo probamos con clientes piloto.</p>
									<p>Hacemos un proceso continuo de perfeccionamiento para adaptar la estrategia y la velocidad de ejecución, logrando un uso eficiente del capital de nuestros clientes; sistematizamos el descubrimiento y el aprendizaje para poder mejorar constantemente la estrategia de negocio.</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">6. Improving quality of life through technological innovation<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in0.jpg" alt=""></img>
									<p>We believe making use of design and technology as tools to address the problems, we can achieve designing solutions for the realworld and creating better outcomes for a community, country or population and people living in it.  We addresses to the needs of the people who will consume a product or service and the infrastructure that enables it.</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">7. Design Thinking<span class="toggle-title-detail"></span></h5>
								<div class="toggle">  
									<p>We believe that <a href="http://www.hellercd.com/2012/06/think-bigger-than-design-thinking/" >design is about thinking</a>. Design is social. It is public, engaging people in ideas. It works at scales, and with ideas the affect multitudes of people through theater, exhibits, public platforms and programs. Design inspires people, wakes them up, and invites them to discover things about themselves and the world that they might otherwise not have known or seen. And as with any system, it is more than the sum of its parts.</p>
									<img align="left" src="img/in9.jpg" alt=""></img>
									<p>La diversidad es la clave de nuestro diseño. Consideramos que en la destreza y el diseño en general, los valores emotivos son tan importantes como la funcionalidad. Todo se somete una y otra vez a examen, tanto las normas estéticas como las formas de trabajo tradicionales. Our vibrant design thinking culture creates prototyping—quick, cheap, and dirty—as part of the creative process and not just as a way of validating finished ideas.</p>	
									<p>We believe design has the potential to engage all of us in creating a more resilient world, and that it will take all of design to do that.</p>
								</div>
							</li>
							
							<li>
								<h5 class="toggle-title">8. Disruptive innovation<span class="toggle-title-detail"></span></h5>
								<div class="toggle">                     
									<img align="left" src="img/in2.jpg" alt=""></img>
									<p>We believe that disruptive innovation we develops so that new products meet the standards of performance expected by the bulk of the market; because the new technology displaces the previous one and thus the new entrants to the market displace the incumbents. For this, we manage the impact of disruptive innovation in models and business strategy, because the disruptive change requires new strategies and process.</p>
								</div>
							</li>
						</ul>	
						
					</div>
				</article>	
				
				<section class="section-comment">
					<p class="fright">Learn too about how do we work <a href="working.html" title="Learn too about how do we work">How do we work in TangereT?</a></p>
				</section>
					
				<section class="section-comment">
				
					<header>
						<hr>
						<p class="fright"></p>
					</header>
		
				</section>
			
		
		</section>

		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full blog-sidebar">
				
			<div class="widget">
			<p>A good startup idea is simply a significant, fixable unmet need, and most smart people are at least unconsciously aware of several of those. They just don’t know it.</p>
			</div>
			
			<div class="widget">
			<h2>― Albert Einstein</h2>
			<p>“I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.”</p>
			</div>
			
			<div class="widget">
			<h2>― Jonathan Swift</h2>
			<p>“Vision is the art of seeing things invisible.” </p>
			</div>
			
			<div class="widget">
			<h2>―  Linus Pauling</h2>
			<p>“The best way to get a good idea is to get a lot of ideas.”</p>
			</div>
		
			<div class="widget">
			<h2>― Pablo Picasso</h2>
			<p>“Everything you can imagine is real.”</p>
			</div>
			
			<div class="widget">
			<img src="img/in3.jpg" alt=""></img>
			</div>
			
			<div class="widget">
			<h2>―  David Heinemeier Hansson</h2>
			<p>“If you’re not working on your best idea right now, you’re doing it wrong.”</p>
			</div>
			
			<div class="widget">
			<h2>―  David Kelley</h2>
			<p>“Design is doing things with intention, trying to decide what's important to somebody, building a bunch of prototypes and showing them around, developing a point of view and getting it out so that it has impact in the world. So design is really a process of making impact on the world by doing this kind of creation of something new to the world and then getting it out there.”</p>
			</div>
			
			<div class="widget">
			<h2>― Albert Einstein</h2>
			<p>“Imagination is everything. It is the preview of life's coming attractions”</p>
			</div>
			
			<div class="widget">
			<h2>―  Ivan Coulter</h2>
			<p>“Innovation is about identifying needs, connecting thoughts, and responding with creative advances. Successful innovation “does not happen in a vacuum, it starts with a need, requires iterative teamwork based ideation and must focus on delivering a practical solution”</p>
			</div>
			
			<div class="widget">
			<h2>―  Henry Ford</h2>
			<p>“Failure is simply the opportunity to begin again, this time more intelligently.”</p>
			</div>
			
		</aside>
	
		
	</div> <!--main-->