<% provide(:title, 'Working') %>
<div class="work-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft"><h6>How do we work in TangereT?</h6></p>
		</header>


		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p class="mbottom">Vas viendo cómo avanza y mejora tu producto en función de tus objetivos de negocio. Vamos sistematizando el descubrimiento y el aprendizaje, y así vamos mejorando constantemente la estrategia de negocio satisfaciendo tu demanda real.
		</p>
		<h6>Strategic business partner</h6>
		<p class="halfmbottom">Nuestro trabajo es impulsado por tus metas y necesidades de negocio, tus razones estratégicas son nuestro objetivo en los productos y servicios que hacemos, somos un aliado para contribuir en tu crecimiento.</p>
		
		<h6>Methodologies</h6>
		<ul class="halfmbottom">
			<li>Lean, Agile, PMI, CMMI,</li>
			<li>Kanban, XP, Scrum, BMP.</li>
		</ul>
		
		<h6>Technologies</h6>
		<ul class="halfmbottom">
			<li>HTML5</li>
			<li>.Net</li>
			<li>Android</li>
			<li>iOS</li>
			<li>PHP</li>
			<li>node.js</li>
			<li>jQuery</li>
			<li>Ruby on Rails</li>
		</ul>
		
		<h6>External links about</h6>
		<ul class="mbottom">
			<li><%= link_to "Our work methodology", "http://theleanstartup.com/principles", {:target=>"blank"} %> The Lean StartUp</li>
			<li><%= link_to "Our day to day", "http://agilemanifesto.org/", {:target=>"blank"} %> Agile Manifesto</li>
			<li><%= link_to "Our management", "http://www.scrum.org/Portals/0/Documents/Scrum%20Guides/Scrum_Guide.pdf", {:target=>"blank"} %> Scrum</li>
		</ul>
		
		<h6>Testimonial</h6>
		<blockquote>Thanks for that amazing work, more than happy with the result</blockquote>
		<blockquote>His working methods saved us time and money, we find a functional product that replaced the real needs of our site.</blockquote>
		
		<h6>Learn too about our value-added brand</h6>
		<p><a href="innovation.html" title="Learn too about our value-added brand">Innovation: our value-added brand</a></p>
		
	</aside>
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<figure class="">
			<%= image_tag("working.jpg", alt:"working") %>
			<figcaption>
				<p>All rights reserved &copy </p>
			</figcaption>
		</figure>
			
		</section>	
		
		
		
	</div> <!--main-->
